#dibujo {
  border-radius: 0px;
  display: block;
margin: 0px -5px;
padding: 20px 0px;
}

div.input-group.calculadoraizq {
 padding-top: 5px;
 width: 100%;
}






div.form-group .input-group-addon {
  padding: 4px 9px;
  font-size: 12px;

}

#formulario div.form-group {
 display: block;
  margin-left: auto;
  margin-right: auto;
  float:none;
}


.col-centered {
  display:inline-block;
  float:none;
 text-align: center;

}



div.form-group label.control-label {
  clear: both;
  padding-top: 16px;
  margin-bottom: 0;
  text-align: left;
font-size: 13px;
}

div.form-group .form-control {
  height: 28px;
padding: 4px 9px;
  font-size: 13px;
/*text-align: center;*/
}


.form-horizontal label.control-label {
  clear: both;
  padding-top: 5px;
  margin-bottom: 0;
  text-align: left;
}



.btn.btn-circle {
padding: 6px 4px;
 text-align: center;
  font-size: 16px;
width: 35px;
  height: 35px;
  border-radius: 50%;
margin: 0px 5px;
}


.row-centered {
  text-align:center;
}


div#result_panel div.col-sm-12 {
 padding-top: 0px;
}


span.label-result {
font-size: 14px;
color: #286090;
display: inline-block;
max-width: 100%;
text-align: center;
line-height: 1.42857143;
margin-top: 5px;
margin-bottom: 5px;
text-transform: none;
font-weight: 600;
}

label.control-label {
font-size: 14px;
color: #666666;
display: inline-block;
max-width: 100%;
text-align: center;
line-height: 1.42857143;
margin-top: 5px;
margin-bottom: 5px;
text-transform: none;
font-weight: 600;

}

.table.table-bordered > tbody > tr > td.success {	
background-color: #286090;
}

.table.table-bordered > tbody > tr > td.warning {	
background-color: #C79A0F;
}


span#area_utilizada {
color: #ffffff;
  font-weight: bold;
font-size: 15px;
}
span.utilizada {
color: #ffffff;
  font-weight: bold;
font-size: 15px;
margin-right:20px;
}


span#area_inutilizada {
color: #ffffff;
  font-weight: bold;
font-size: 15px;
}
span.inutilizada {
color: #ffffff;
  font-weight: bold;
font-size: 15px;	
}


#formulario h2 {
font-size: 17px;
font-weight: 600;
line-height: 1.1;
color: #333;
margin-bottom: 15px;
padding-top: 15px;
}

#formulario h4 {
font-size: 13px;
line-height: 1.1;
color: #000;
margin-top: 25px;
margin-bottom: 0px;
}


.medio{
background-color: #d7d7d7;
}

.ext{
background-color: #f0f0f0;
}


.calcu {
background-color: #f0f0f0;
border-bottom: 1px solid #dcdcdc;
margin-bottom: 0px;
margin-top: 84px;
}



.form-horizontal{
margin-bottom: 30px;
}

.intro {
font-size: 13px;
color: #000;
}



#formulario .table > tbody > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: none;
}



@media only screen and (min-width : 767px) {
 .flex-row.row {
 display: flex;
 flex-wrap: wrap;
 }
 .flex-row.row > [class*='col-'] {
 display: flex;
 flex-direction: column;
 }
.flex-row.row:after, 
.flex-row.row:before {
 display: flex;
}
}


.row.esp {
min-height: 125px;
background-color: #f0f0f0;
}